.wholeContain{
    background-color: white;
}
.firstCard{
margin-left:20px;
overflow: hidden;
}
h1{
    color:black;
    margin-left :520px;
    font-family:  cursive;
}
.seconCard{
    margin-left:20px;
    overflow: hidden;

}